*{
    margin:0;
    padding:0;
    border:1px solid red;
}
h1{
    font-size: 5rem;
    text-align: center;
}
.test{
    width: 250px;
    height: 150px;
    transform: rotate(25deg);
    margin: 0 500px;
    padding: 123px;
    transition: ease 0.5s;
}
.test:hover{
    transform:scale(1.1) rotate(75deg);
}